<template name="about">
  <div class="page">

    <div class="about-wrapper">
      <div class="about-container">

        <h1 class="page-title">About Me</h1>

        <div class="about-content">
          <p>
            <span class="line-1">Hey there! My name is Michael.</span>
            <span class="line-1">I’m a technology and product enthusiast. I spend my freetime prototyping product designs using the latest technologies. I am mostly interested in SaaS development.</span>
            <span class="line-1">I was born in England and was lucky enough to have lived around the world as a child. I am currently a student at Purdue University approaching graduation. My area of study is Computer Engineering.</span>
            <span class="line-1">This website is currently under construction but please feel free to take a look around! If you have any questions I am happy to connect.</span>
          </p>
        </div>

      </div>
    </div>

  </div>
</template>

<!--

Besides technology, my hobbies include

-->
