<template name="about">
  <div class="page">

    <div class="about-wrapper">
      <div class="about-container">

        <h1 class="page-title">About Me</h1>

        <div class="about-content">
          <p>
            <span class="line-1">Hello, and welcome to my website!</span>
            <span class="line-1">My name is Michael, and I am currently a student at Purdue University studying Computer Engineering. I love everything about technology, and have made it my goal to understand as much as I can about it.</span>
            <span class="line-1">I am also passionate about product development and the technologies that drive this process. My main focus is in building SaaS products, and aim to learn as much as I can about the area. Everything from idea generation to development and growth interests me.</span>
            <span class="line-1">Right now I am exploring full-stack/cross-platform technologies. I love the idea of being able to build a product with just one codebase that can be released on multiple platforms. This site, for example, was built using Meteor.</span>
            <span class="line-1">As a child I was lucky enough to live around the world. After being born in England, my family has lived in the Czech Republic, China, Indonesia, and now (the place I call home) Indiana. I hope to visit even more parts of the world throughout my life.</span>
            <span class="line-1"></span>
            <span class="line-1">If you’d like to learn more about me, feel free to contact me <a href="{{ pathFor 'contact' }}">here</a>.</span>
            <span class="line-1">You can also find my resume <a href="{{ pathFor 'resume' }}">here</a>.</span>
          </p>
        </div>

      </div>
    </div>

  </div>
</template>

<!--

Besides technology, my hobbies include

-->
