<template name="apps">
  <div class="page">
    <div class="apps-wrapper">
      <div class="apps-container">
        <div class="swiper-wrapper">

            <div class="apps-intro swiper-slide" data-hash="apps-intro">
              <div class="apps-buffer">
                <div class="apps-title">
                  <h2>Portfolio</h2>
                </div>
                <div class="apps-description">
                  <p>A mix of finished/un-finished apps I've produced during my free time. <br> Professional experience is detailed in my resume.</p>
                </div>
                <div class="apps-toc">
                  <ul>
                      <li class="full-stack-link">Full-Stack Web</li>
                      <li class="mobile-link">Mobile (Cross Platform)</li>
                      <li class="wp-link">Windows Phone</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="full-stack-item swiper-slide westminster-slide" data-hash="apps-westminster">
              <div class="apps-buffer">
                <div class="slide-title">
                  <h2>Westminster</h2>
                </div>
                <div class="slide-description">
                  <p>In association with Westminster retirement community. Web portal that features document sharing and management.</p>
                  <p class="app-item-tech">
                    <span>Technologies used: </span>
                    Meteor, blaze, html, less, javascript
                  </p>
                  <p>Demo: <a href="http://epics-wise-westminster.meteor.com/" target="_blank">http://epics-wise-westminster.meteor.com/</a></p>
                </div>
                <div class="slide-content">
                  {{#if westminsterWebshotReady}}
                    <a href="http://epics-wise-westminster.meteor.com/" target="_blank">
                      <img src="westminster-home.png" alt="Westminster Portal" class="westminster-webshot">
                    </a>
                  {{/if}}
                </div>
              </div>
            </div>

            <div class="full-stack-item swiper-slide zones-slide" data-hash="apps-zones">
              <div class="apps-buffer">
                <div class="app-info">
                  <div class="slide-title">
                    <h2>Zones</h2>
                  </div>
                  <div class="slide-description">
                    <p>Create a "zone" in your area. A zone is defined geographically as a circle. A zone can either be anonymous or private (where a password is required). Post anonymously to zones. Up or down vote comments on locations. Your account is linked to your device.</p>
                    <p style="font-weight: bold;">Version 1: Full Functionality</p>
                    <p style="font-weight: bold;">Version 2: New Design</p>
                    <p class="app-item-tech">
                      <span>Technologies used: </span>
                      Meteor, blaze, Cordova, html, less, javascript
                    </p>
                  </div>
                </div>
                <div class="slide-content">
                  <div class="app-demo-wrapper">
                    <!--<div class="app-demo-background"></div>-->
                    <div class="app-demo-container">
                      <div class="marvel-device iphone6 silver device-wrapper">
                        <div class="top-bar"></div>
                        <div class="sleep"></div>
                        <div class="volume"></div>
                        <div class="camera"></div>
                        <div class="sensor"></div>
                        <div class="speaker"></div>
                        <div class="screen device-screen">
                          {{#if showDemoZones}}
                            {{#if showDemoZonesV1}}
                              <iframe class="app-demo" src="http://zones-v1.michaelprice.us"></iframe>
                            {{else}}
                              <iframe class="app-demo" src="http://zones-v2.michaelprice.us"></iframe>
                            {{/if}}
                          {{else}}
                            <div class="start-app">
                              <h5 class="start-app-zones-v1">Start V1</h5>
                              <h5 class="start-app-zones-v2">Start V2</h5>
                            </div>
                          {{/if}}
                        </div>
                        <div class="home"></div>
                        <div class="bottom-bar"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mobile-item swiper-slide wp-slide" data-hash="apps-wp">
              <div class="apps-buffer">
                <div class="slide-title">
                  <h2>Windows Phone</h2>
                </div>
                <div class="slide-description">
                  <p>Apps I made for Windows Phone summer of 2010. I ended up publishing 15 apps for Windows Phone, a mix of utility apps and games.</p>
                </div>
                <div class="wp-apps-container">
                  <a target="_blank" href="https://www.microsoft.com/en-us/store/apps/capit/9nblggh0d9qj">
                    <div class="wp-item">
                      <img src="https://store-images.s-microsoft.com/image/apps.53009.13510798882832367.3be9e801-7b18-40c9-b8a8-648bbd65c006.e3f8fa66-8eb9-45f1-bca9-c8dc043bf7ef?w=100&h=100" href="https://www.microsoft.com/en-us/store/apps/capit/9nblggh0d9qj">
                      <h6>CapIt</h6>
                      <p>
                        Add random captions to pictures. Features photo library, and social media integration. Offered paid version without ads.
                      </p>
                    </div>
                  </a>

                  <a target="_blank" href="https://www.microsoft.com/en-us/store/games/impossiblob/9nblggh0d9qz">
                    <div class="wp-item">
                      <img src="https://store-images.s-microsoft.com/image/apps.46623.13510798882832370.e73515d3-6744-496f-8810-2ffd3f0ca766.6e405f01-5b33-4a88-9f37-0c82126848ff?w=100&h=100">
                      <h6>Impossiblob</h6>
                      <p>
                        Tile based jumping game, avoid obstacles to win. Second game made for Windows Phone. Features physics and tile engine, custom graphics.
                      </p>
                    </div>
                  </a>

                  <a target="_blank" href="https://www.microsoft.com/en-us/store/games/trick-shot/9nblggh0cklt">
                    <div class="wp-item">
                      <img src="https://store-images.s-microsoft.com/image/apps.49301.13510798882802086.49a4cab3-0560-4017-8da2-e7eb8abf1b73.99043283-1fd6-442e-a9e7-b04b55e4df7d?w=100&h=100">
                      <h6>Trick Shot</h6>
                      <p>
                        Velocity based basketball game. Pull finger in direction of basket at the right velocity. First game made for Windows Phone. Features physics engine, touch gesture controls.
                      </p>
                    </div>
                  </a>

                  <a target="_blank" href="https://www.microsoft.com/en-us/store/apps/musical-boxes/9nblggh0d9qx">
                    <div class="wp-item">
                      <img src="https://store-images.s-microsoft.com/image/apps.30983.13510798882832371.4c054609-4545-4101-9232-4495b94f2cb0.e21b542d-f933-4da9-a3e0-f13cdae310e7?w=100&h=100">
                      <h6>Musical Boxes</h6>
                      <p>
                        Sequential beat making game. Create a beat by pressing on squares, also change change instruments. Features custom sounds.
                      </p>
                    </div>
                  </a>

                  <a target="_blank" href="https://www.microsoft.com/en-us/store/apps/musical-remake/9nblggh0d9td">
                    <div class="wp-item">
                      <img src="https://store-images.s-microsoft.com/image/apps.17218.13510798882832313.d889b7c6-4b41-4854-8785-44d68311ba72.9a205a5a-047e-48bf-bacf-a2a7823e46f6?w=100&h=100">
                      <h6>Musical Remake</h6>
                      <p>
                        Advanced sequential beat making game. Create multiple tracks, change speed of sequencer. Features custom sounds.
                      </p>
                    </div>
                  </a>

                  <a target="_blank" href="https://www.microsoft.com/en-us/store/apps/rescue-me/9nblgggzj3g1">
                    <div class="wp-item">
                      <img src="https://store-images.s-microsoft.com/image/apps.47351.13510798883162918.bb22bf02-29dc-4e06-aadb-a742a634f1df.6dc07240-9290-4b72-b8e2-8e081b25468a?w=100&h=100">
                      <h6>Rescue Me</h6>
                      <p>
                        Emergency alert system. Equiped with strobe, signs, gps, and more. Features sms capabilities, map rendering, location.
                      </p>
                    </div>
                  </a>

                  <a href="https://www.microsoft.com/en-us/store/apps/kings/9nblggh0j7kw">
                    <div class="wp-item">
                      <img src="https://store-images.s-microsoft.com/image/apps.3983.13510798882938290.0e99320b-7e29-4937-995c-d889d53a910b.bc28981a-ac46-47c9-a98f-2860af12e070?w=100&h=100">
                      <h6>Kings</h6>
                      <p>
                        Remake of "Kings" drinking game. Option to substitute cards for other rules, as well as make your own rules for cards. Features custom graphics, touch gestures.
                      </p>
                    </div>
                  </a>

                  <a target="_blank" href="https://www.microsoft.com/en-us/store/apps/strobe/9nblggh0d9r1">
                    <div class="wp-item">
                      <img src="https://store-images.s-microsoft.com/image/apps.29438.13510798882832368.41625004-1cbe-4f5e-8c74-838d6d8c4a9e.a2a71295-43e3-48b1-a237-4357dcb17385?w=100&h=100">
                      <h6>Strobe</h6>
                      <p>
                        Simple strobe app. Select color and speed of strobe light.
                      </p>
                    </div>
                  </a>

                  <a target="_blank" href="https://www.microsoft.com/en-us/store/apps/sobber-buddy/9nblggh0j7jf">
                    <div class="wp-item">
                      <img src="https://store-images.s-microsoft.com/image/apps.24681.13510798882938318.77af3904-3d8e-4b4f-a177-4c0dd1aedb64.9cad04df-69cb-4936-9de4-2f3219ce1b92?w=100&h=100">
                      <h6>Sober Buddy</h6>
                      <p>
                        Simple positional tracking app. Walk in a straight line game to test sobriety. Features accelerometer.
                      </p>
                    </div>
                  </a>

                  <a target="_blank" href="https://www.microsoft.com/en-us/store/apps/tip-like-a-pro/9nblggh0j7jz">
                    <div class="wp-item">
                      <img src="https://store-images.s-microsoft.com/image/apps.54109.13510798882938334.6a00c521-3dbe-4e16-aaa2-ae31b129cdd0.fda30048-8008-4215-83d0-6effffdff867?w=100&h=100">
                      <h6>Tip Like A Pro</h6>
                      <p>
                        Simple tipping app. Split between people, custom tip rate.
                      </p>
                    </div>
                  </a>

                  <a target="_blank" href="https://www.microsoft.com/en-us/store/apps/set-the-beat/9nblggh0d9r0">
                    <div class="wp-item">
                      <img src="https://store-images.s-microsoft.com/image/apps.47435.13510798882832369.923b655f-66eb-4b76-b675-5f49c0ece95b.355c6cac-0897-4caa-a1d0-13a2e9d5c6ac?w=100&h=100">
                      <h6>Set The Beat</h6>
                      <p>
                        Beat generator app. Tap a tempo and pick a beat type.
                      </p>
                    </div>
                  </a>

                  <a target="_blank" href="https://www.microsoft.com/en-us/store/apps/phone-call-faker/9wzdncrcwnrv">
                    <div class="wp-item">
                      <img src="https://store-images.s-microsoft.com/image/apps.27280.9007199267041843.57fa6fd9-6976-42b7-8475-0c68f43cc88a.0e641731-7577-4132-92d1-1f5f156298d8?w=100&h=100">
                      <h6>Phone Call Faker</h6>
                      <p>
                        Fake phone call app. Setup a fake phone call.
                      </p>
                    </div>
                  </a>

                  <a target="_blank" href="https://www.microsoft.com/en-us/store/apps/taser/9nblggh0ckls">
                    <div class="wp-item">
                      <img src="https://store-images.s-microsoft.com/image/apps.762.13510798882802087.ba06fcf8-3fa1-482c-aa4b-d7b0bf6c8058.fae9abdb-1e78-4c61-8458-0944df5a01ae?w=100&h=100">
                      <h6>Taser</h6>
                      <p>
                        First app ever released. Simple animated taser.
                      </p>
                    </div>
                  </a>
                </div>
              </div>

            </div>

        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</template>
