@import "globals";

.home-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;

  display: table;
  width: 100%;
  height: 100%;

  text-align: center;

  .home-background {
    @blur-value: 5px;

    position: absolute;
    top: -(@blur-value * 2);
    left: -(@blur-value * 2);

    min-height: 110%;
    min-width: 110%;
    z-index: -10;

    background: @photo-url no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: blur(@blur-value);
    -moz-filter: blur(@blur-value);
    -o-filter: blur(@blur-value);
    -ms-filter: blur(@blur-value);
    filter: blur(@blur-value);


    transition: filter 1s;
    -webkit-transition: filter 1s;
    transition: -webkit-filter 1s;
    -webkit-transition: -webkit-filter 1s;

    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;

    &.active {
      @blur-value: 0px;

      -webkit-filter: blur(@blur-value) !important;
      -moz-filter: blur(@blur-value) !important;
      -o-filter: blur(@blur-value) !important;
      -ms-filter: blur(@blur-value) !important;
      filter: blur(@blur-value) !important;
    }
  }

  .home-container {
    display: table-cell;
    vertical-align: middle;

    width: 100%;
    background-color: rgba(255, 255, 255, 0.35);

    .quote-wrapper {
      @media (max-width: 768px) {
        display: none;
      }

      padding: 0 12%;
      //max-height: 180px;

      font-family: "Libre Baskerville", serif;
      color: lighten(#000, 20%);

      h1 {
        font-style: italic;
        font-size: 2.6em;
        font-weight: 100;
        line-height: 1.4;
      }
      h4 { // TODO: This needs to move with the quote for larger views
        font-size: 1.5em;
        font-weight: 400;
        text-align: right;
        padding: 10px 60px 0 0;
      }

    }

    .link-wrapper {
      @media (max-width: 768px) {
        height: 100%;
      }
      position: absolute;
      top: 2%;
      width: 100%;

      margin: 20px auto;
      font-family: "Roboto", sans-serif;

      a {
        @media (max-width: 768px) {
          display: block;
          font-size: 2em;
        }
        padding: 30px;
        text-decoration: none;
        font-size: 1.5em;
        color: lighten(#000, 30%);

        &:hover {
          color: lighten(#000, 10%);
        }
      }
    }

    .home-footer {
      position: absolute;
      bottom: 10px;
      min-width: 100%;

      font-family: "Roboto", sans-serif;

      p {
        @media (max-width: 768px) {
          font-size: 0.75em;
        }

        font-size: 1em;
        color: #333;
      }

    }

  }


}
