<template name="resume">
  <div class="page">

    <div class="resume-wrapper">
      <div class="resume-container">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide resume-slide">
              <canvas id="resumepdf"></canvas>
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </div>

  </div>
  <!--<div class="page resume-wrapper disable-scroll">

    {{#if showLoading}}
      {{> loading}}
    {{/if}}

    <iframe id="resume-frame" frameBorder="0" src="https://standardresume.co/MichaelPrice"></iframe>

  </div>-->
</template>
